* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --titles-font-weight: 500;
    --section-margin: clamp(1.8em, 6vw, 2em);
    --general-container-margin:  clamp(1.3em,2vw, 2em);
    --tables-padding: clamp(1em, 5vw, 2em);
    --general-border-radius: 10px;
}

@font-face {
    font-family: 'young-serif';
    src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'outfit';
    src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body {
    font-family: 'outfit', sans-serif;
    background-color: var(--stone-100);
    color: var(--stone-600);
}

h1 {
    font-family: 'young-serif', sans-serif;
}

ul, ol {
    list-style: none;
}

hr {
    inline-size: 90%;
    margin-inline: auto;
    border: none;
    block-size: 0.1rem;
    background-color: var(--stone-150);
}

ul li::before {
  content: "•";
  color: var(--brown-800);
  font-size: min(1.875rem);
  position: absolute;
}

.recipe__card {
    inline-size: clamp(25rem, 80vw, 44.25rem);
    margin-inline: auto;
    margin-block: min(2em);
    background-color: var(--white);
    padding: min(0.00625rem);
    border-radius: var(--general-border-radius);
}

.recipe__picture {
    width: clamp(25rem, 75vw, 40rem);
    margin-inline: auto;
    margin-block: clamp(0.1em, 3vw, 2.5em);
    overflow: hidden;
}

.recipe__img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--general-border-radius);
}

.recipe__presentation {
    margin-inline: var(--section-margin);
    margin-block-start: min(2em, 5vh);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5em;
}

.recipe__title {
    font-weight: var(--titles-font-weight);
    color: var(--stone-900);
    font-size: min(2.4rem);
    line-height: 2.5rem;
}

.recipe__preparation {
    padding: var(--tables-padding);
    border-radius: var(--general-border-radius);
    background-color: var(--rose-50);
}

.preparation__title {
    color: var(--rose-800);
}

.preparation__steps, .ingredients__steps, .instructions__steps {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
    margin-inline: 3.125rem;
    margin-block: 1rem;
}

.preparation__dest, .instructions__dest, .preparation__title {
    font-weight: 700;
}

.ingredients__container, .instructions__container, .nutrition__container {
    margin-inline: var(--section-margin);
    margin-block: var(--section-margin);
}

.ingredients__title, .instructions__title, .nutrition__title {
    color: var(--brown-800);
    font-weight: var(--titles-font-weight);
    font-size: max(1.7rem, 2.2vw);
}

.instructions__steps {
    counter-reset: mi-contador 0;
}

.nutrition__desc {
    margin-block: clamp(1.3em,2vh, 2em);
}

.nutrition__table {
    inline-size: 100%;
}

.nutrition__body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .625rem;
}

.nutrition__row {
    padding-block: max(0.8em, 2vh);
    padding-inline: var(--tables-padding);
    display: flex;
    flex-direction: row;
    gap: .625rem;
}

.nutrition__dest {
    color: var(--brown-800);
    font-weight: 800;
}

.instructions__steps li {
    counter-increment: mi-contador;
}

.instructions__steps li::before  {
    content: counter(mi-contador) ".";  
    color: var(--brown-800);
    font-size: min(1.1rem, 5vw);
    margin-inline-end: 0.9375rem;
    position: absolute;
    font-weight: 800;
}

ul.ingredients__steps li::before, ol.instructions__steps li::before {
    left: -2.6875rem;
}

ul.preparation__steps li::before {
    left: -2.5rem;
}

.nutrition__row td:first-child {
    inline-size: 50%;
}

.ingredients__steps li:nth-of-type(1)::before {
    top: -0.5rem;
}

.ingredients__steps li:nth-of-type(2)::before {
    top: 1.6875rem;
}

.ingredients__steps li:nth-of-type(3)::before {
    top: 3.9375rem;
}

.ingredients__steps li:nth-of-type(4)::before {
    top: 6.25rem;
}

.ingredients__steps li:nth-of-type(5)::before {
    top: 8.4375rem;
}

.preparation__steps li:nth-of-type(1)::before {
    top: -0.375rem;
}

.preparation__steps li:nth-of-type(2)::before {
    top: 1.6875rem;
}

.preparation__steps li:nth-of-type(3)::before {
    top: 4.0625rem;
}

.nutrition__row:not(.nutrition__row:nth-of-type(4)) {
    border-block-end: 1px solid var(--stone-150);
}

@media screen and (max-width: 30rem){
    .recipe__picture {
        margin-block: 0;
    }

    .recipe__card {
        margin-block: 0;
        border-radius: 0;
    }

    .recipe__img {
        border-radius: 0;
    }
}

@media screen and (max-width: 34.74rem){
    ul.preparation__steps li:nth-of-type(1)::before {
    top: 0;
    }

    ul.preparation__steps li:nth-of-type(2)::before {
        top: 2.8125rem;
    }

    ul.preparation__steps li:nth-of-type(3)::before {
        top: 5.375rem;
    }

    ul.ingredients__steps li:nth-of-type(5)::before {
        top: 9.0625rem;
    }
}